@import 'reset.css';

.root-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* header 시작 */
.header-container {
    background-color: rgba(3, 37, 65, 1);
}

.header-wrap {
    height: 64px;
    max-width: 1400px;
    margin: 0 auto;

    display: flex;
    align-items: center;
}

.header-left-wrap {
    display: flex;
}

.header-left-wrap ul {
    display: flex;
    margin-left: 16px;
}

.header-left-wrap li {
    margin-right: 14px;
    padding: 8px;
}

.header-nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}